[dragdrop] {
    transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    cursor: move;
}

[dragdrop].out {
    opacity: 0.5;
}

[dragdrop].over {
    border: 3px dashed #333;
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
}